.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading{
  font-weight: bold;
  font-size: 25px;
}

.pagebody{
  padding: 20px;
}
.divbox{
  border: solid grey 1px;
  border-radius: 3px;
  padding: 10px;
  background-color: #f8f9fa;
}

.alertfadein{
  animation: fadein 1s forwards;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.navbar-custom {
  background-color: #629460;
}

.navbar-light>.navbar-custom.navbar-brand{
  color: #FFFFFF;
}

.navbar-light>.navbar-nav>.navbar-custom.nav-link{
  color: rgb(255,255,255);
}

.navbar-light>.navbar-nav>.justify-content-end.nav-link{
  color: rgb(255,255,255);
}

.navbar-light .navbar-brand.active,
.navbar-light .navbar-brand:hover{
  color:#D0D0CE !important;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: #D0D0CE  !important;
}

.bigbutton{
  background-color: #86BC25;
  border-radius: 5px;
  padding: 15px;
  border: 2px solid;
  height: 80px;
}

.bigbuttoncontent{
  display: flex;
}

.bigbuttontext{
  flex: 80%;
  padding: 11px;
  font-size: 16px;
}

.bigbuttonicon{
  flex:20%;
  height: 50px;
}

.searchbar{
  display: flex;
}

div>.searchbar{
  height: 40px;
}

.searchbartext{
  height: 40px;
  flex: 20%;
  padding: 9px;
}

.button-custom.btn.btn-primary{
  color: rgb(255,255,255)  !important;
  background: #629460 !important; 
  border-color: #629460 !important;
}

.button-custom.btn.btn-primary:focus,
.button-custom.btn.btn-primary:not(:disabled):not(.disabled):active:focus{
  box-shadow: 0 0 0 0.2rem rgba(134,188,37,.5) !important
}

.stafffilter{
  border: solid 1px grey;
  padding: 10px;
  border-radius: 3px;
}

.dashboardheading{
  font-size: 25px;
  font-weight: bold;
}

.dashboardbalance{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.spacer{
  border-bottom: solid 1px gray;
  margin: 10px 0px;
}

.tableheading{
  font-size: 16px;
  font-weight: bold;
}

.colamount{
  text-align: center;
}

.coldate{
  font-size: 16px;
  font-weight: bold;
  color: gray;
  margin: 20px 0px 5px 0px;
}

.rowtxn{
  margin-left: 5% !important;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.depositform{
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  border: solid 1px gray;
  padding: 1.5%;
  border-radius: 8px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.transactionsmodal{
  margin-left: 15% !important;
  margin-right: 15% !important;
}

#balancechart {
  width: 100%; 
  min-height: 450px;
}

.graphbox{
  display: flex;
}